span {
    background-color: #27ae60; /* Зеленый */
}

div span {
    background-color: #2980b9; /* Синий */
}

#floor .cat-in-box {
    background-color: #34495e; /* Мокрый асфальт */
}

.cat-in-box {
    background-color: #8e44ad; /* Фиолетовый */
}

#floor span {
    background-color: #c0392b; /* Красный */
}

div .cat-in-box {
    background-color: #e67e22; /* Оранжевый */
}