.cat-keksik {
    background-color: #e74c3c; /* Красный */
}

.cat-rudolf {
    background-color: #3498db; /* Синий */
}

.cat-snezhok {
    background-color: #2ecc71; /* Зеленый */
}

.box{
    background-color: #bdc3c7; /* Серый */
}

.cat-rudolf {
    background-color: #3498db; /* Синий */
}

.cat-keksik {
    background-color: #e74c3c; /* Красный */
}

.cat-snezhok {
    background-color: #2ecc71; /* Зеленый */
}