html,body{
    margin:0;
    padding:0;
}
body{
    width:450px;
    height:300px;
    font-size:16px;
    font-family:"Tahoma", sans-serif;
    color:black;
    background:white;
}
.range-filter{
    padding-top:10px;
    width:240px;
    margin:auto;
    margin-bottom:10px;
}
.range-controls{
    position:relative;
    height:80px;
    margin-bottom:15px;
    padding:0 30px;
    background:#34495e;
    border-radius:5px;
    overflow:hidden;
}
.scale{
    margin-top:39px;
    height:2px;
    background:#d7dcde;
}
.bar{
    height:2px;
    background:#00ca74;
}
.toggle{
    position:absolute;
    top:30px;
    left:30px;
    width:4px;
    height:4px;
    border:8px solid white;
    background:#ababab;
    cursor:pointer;
    border-radius:50%;
}
.min-toggle{
    left:70px;
}
.max-toggle{
    left:165px;
}
.price-controls input[type="text"]{
    width:55px;
    padding:8px 10px;
    margin-left:10px;
    border:none;
    background:#34495e;
    font-size:16px;
    font-family:"Tahoma", sans-serif;
    text-align:center;
    color:#283136;
    border-radius:5px;
    color:white;
}
.range-filter .price-controls input[type="text"]:first-child{
    margin-right:14px;
}