body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: url('shooter1.jpg') no-repeat 0 0;
    background-size: cover;
}

.target {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 135px;
    height: 14px;
    margin: 0;
    padding: 12px 15px;
    list-style: none;
    background: white;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    transform: scale(1.2);
}

li {
    float: left;
    width: 13px;
    height: 13px;
    margin-right: 15px;
    background: #333;
    border: 1px solid #333;
    font-size: 0;
    border-radius:50%;
}

li:last-child {
    margin: 0;
}