body {
    font-family: sans-serif;
    font-size: 90%;
}

form {
    width: 50%;
    margin: 50px auto;
    padding: 20px 20px;
    background: #f5f5f5;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

label:first-child {
    margin-top: 0;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    border: 1px solid #ccc;
    padding: 8px;
    background: white;
    border-radius: 5px;
}

input[type="submit"] {
    display: block;
    margin-top: 20px;
    width: 80px;
    padding: 8px;
    color: #333;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    outline: none;
}