body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url('finish.jpg') no-repeat 50% 0;
    background-size: cover;
}

h1 {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.places {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
    background: rgba(255, 255, 255, .9);
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    border-radius: 5px;
}

ul ul {
    font-size: .8em;
    margin-left: 150px;
}

li{
    padding: 5px 10px;
    margin-bottom: 5px;
}

em {
    font-style: normal;
}