body {
    width: 260px;
    margin: 0;
    padding: 0 10px;
    font-family: "Times New Roman", serif;
    font-size: 16px;
}

h1 {
    font-size: 18px;
}
.sub{
    vertical-align: sub;
    font-size: 12px;
}
.sup{
    vertical-align: super;
    font-size: 12px;
}
.del{
    text-decoration: line-through;
}
.underline{
    text-decoration: underline;
}
.italic{
    font-style: italic;
}