/* Базовые стили, изменять не нужно */
html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 540px;
    min-height: 290px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #3a78a1;
    background-image: url("grid.png");
    background-repeat: repeat;
    background-position: -80px -80px;
}

.block {
    background: rgba(0, 255, 255, 0.2);
    border: 2px solid white;
}
.block1{
    width: 196px;
    height: 36px;
    margin-bottom: 20px;
}
.block2{
    margin-left: 120px;
    margin-bottom: 20px;
    height: 46px;
    width: 96px;
    padding-top: 10px;
    padding-left: 40px;
}
.block3{
    margin-left: 20px;
    border-width: 12px;
    padding: 5px;
    width: 166px;
    height: 26px;
}