body {
    padding: 0 20px;
}

.block-1 {
    height: 100px;
    border: 1px solid white;
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
}

.block-2 {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-top: 20px;
}