body {
    padding: 20px;
}

.block {
    margin-bottom: 20px;
    padding: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 5px 10px;
    color: #666666;
    border: 2px solid #cccccc;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}