body {
    padding: 20px;
}

.column {
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
    display: inline-block;
    vertical-align: bottom;
    width: 100px;
}

.column-1 {
    height: 36px;
}

.column-2 {
    height: 56px;
}

.column-3 {
    height: 76px;
}