div {
    margin: 5px;
    padding: 5px;
    border: 1px dotted white;
}

.table {
    display: table;

    background: #d9edf7;
    border-color: #3a87ad;
}

.row {
    background: #f2dede;
    border-color: #b94a48;
    display: table-row;
}

.cell {
    background: #fbeed5;
    border-color: #c09853;
}

div {
    margin: 5px;
    padding: 5px;
    border: 1px dotted white;
}

.table {
    display: table;

    background: #d9edf7;
    border-color: #3a87ad;
}

.row {
    background: #f2dede;
    border-color: #b94a48;
}

.cell {
    background: #fbeed5;
    border-color: #c09853;
}